.container-confirmacion-cita{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 66px;
  }
  
  .title {
    text-align: center;
  }
  
  .caja-confirmacion-cita {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 550px;
    border-radius: 20px;
    box-shadow: -4px -3px 31px 1px rgba(43, 43, 43, 0.7);
  }
  
  .caja-confirmacion-cita img {
    width: 50%;
    height: auto;
    background-size: cover;
  }

  
  .descripcion-confirmacion-cita{
    margin-top: -18px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
  }
  
  
  .agregar-cita-button:hover {
    background-color: #005f76;
  }

  @media (max-width:1000px){ 
    .caja-confirmacion-cita {
        width: 89%;
        height: 410px;
    }
    
    .descripcion-confirmacion-cita {
        margin-top: 20px;
        margin-left: 6px;
        margin-right: 7px;
        font-size: 15px;
    }
}